<div class="page flex-column">
    <div class="nav-bar">
        <app-dream-nav-bar></app-dream-nav-bar>
    </div>

    <div class="central-content flex-column">
        <h1 class="input-label dream-text-outline">Capture Your Dreams</h1>
        <form class="form-row">
            <input type="text" class="input-field dream-floating-icon" placeholder="Write your floating words..">
            <button type="submit" class="submit-btn" title="Submit">
                <img src="../../../assets/icons/icons8-submit-progress-100.png" class="dream-floating-icon" alt="submit icon"/>
            </button>
        </form>
    </div>
</div>
